@using Home.WebUI.DataAccess.ShoppingCarts.CreateShoppingCart
@using Home.WebUI.DataAccess.ShoppingCarts.GetShoppingCart
@using Home.WebUI.DataAccess.ShoppingCarts.GetShoppingCarts
@using Home.WebUI.Infrastructure.ChangeTrackers

@page "/shopping-carts"

<CascadingValue Value="this.m_CancellationTokenHandler.Token" Name="CancellationToken">
    <div class="flex flex-col h-full">
        <HomeTopBar Title="Shopping Lists" ShowBack="true" BackHref="/" />
        <div class="flex-1 flex flex-col lg:flex-row gap-4 p-4 app-scrollable">
            <div class="lg:w-1/3 shrink-0">
                <ShoppingCartsComponent ShoppingCartID="this.ShoppingCartID" />
            </div>
            <div class="flex-1 min-w-0">
                <ShoppingCartComponent @ref="this.m_ShoppingCart" ShoppingCartID="this.ShoppingCartID" />
            </div>
        </div>
    </div>
    <ErrorHandler @ref="this.m_ErrorHandler" />
</CascadingValue>

@code {

    #region Fields

    private CancellationTokenHandler m_CancellationTokenHandler = new();
    private ErrorHandler? m_ErrorHandler;
    private ShoppingCartComponent? m_ShoppingCart;

    #endregion Fields

    #region Properties

    [Parameter] public long? ShoppingCartID { get; set; }

    #endregion Properties

}
