@using Microsoft.AspNetCore.Mvc

@if (this.m_Errors.Any())
{
    <ul>
        @foreach (var _Error in this.m_Errors)
        {
            <li>@_Error</li>
        }
    </ul>
}

@code {

        #region Fields

	private List<string> m_Errors = new();

    #endregion Fields

    #region Methods

    public void AddError(ValidationProblemDetails errors)
    {
        if (errors.Errors != null)
            foreach (var _Error in errors.Errors)
                this.m_Errors.AddRange(_Error.Value);
    }

    public void ResetErrors()
    {
        this.m_Errors.Clear();
	}

	#endregion Methods

}
